[submodule "external/noc"]
	path = external/noc
	url = https://github.com/amaiorano/noc.git
[submodule "external/linenoise"]
	path = external/linenoise
	url = https://github.com/amaiorano/linenoise.git
