# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
/build*/
bld/
[Bb]in/
[Oo]bj/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Visual Studio 2019
.vs/
/out/

# Visual Studio Code
.vscode/

# Other
*.wwdb

# Project-specific
data/
options.txt
imgui.ini
startup.txt
trace*.txt
*.raw
